/data/*
/properties/*
doc2hpo.war
.DS_Store
/target/*
/logs/*
/src/lib/*
/src/test/*
/src/main/webapp/WEB-INF/config.properties
/src/main/webapp/WEB-INF/lib/*
/src/main/java/metamap-api-2.0.jar
/public_mm/*
/public_mm_lite/*
public_mm_lite_3.6.2rc3_binaryonly.zip


.factorypath
.settings/org.eclipse.jdt.apt.core.prefs
.settings/org.eclipse.jdt.core.prefs
.settings/org.eclipse.jdt.core.prefs
.vscode/settings.json
.settings/org.eclipse.jdt.core.prefs
