 
 body {
  padding-top: 50px;
}
.faq .panel-body{
	padding:30px 50px;
	padding-top:40px;
}
.faq .panel-body p{
	color:#3d5577;
	font-size:15px;
}

.ui-tooltip-content{
	padding:8px 8px;
	
}
#weight_adjust input{
	width:140px;
}
p.result{
	padding-bottom:50px;
	
}
.btn-file {
    position: relative;
    overflow: hidden;
}
.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 999px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}
input[readonly] {
  background-color: white !important;
  cursor: text !important;
}
div.footer{
	margin-top:50px;
}
#network{
	padding:20px 0px;
}
/* #barplot h3, #summary, #barplot{
	background-color: #fcf3ff;
}  */
#barplot div.modal-body h3{
	background-color:#ffffff;
	font-size:15px;
	float:left;
	font-weight:700;
	color:#3333cc;
}
.nav-tabs li a{
	background:#2497ff;
	color:#fefefe;
}
.nav-tabs li a:hover{
	background:#aaccff;
	color:#fefefe;
}

#barplot div.modal-body h3 p{
	float:left;
	width:288px;
    padding:0px 2px;
}
#barplot div.modal-body div span{
	float:left;
	width:288px;
	 padding:0px 2px;
}
#barplot div.modal-body div p{
	clear:both;
	float:none;
}
#barplot div.modal-body div{
	padding:50px 0px;
}
#page-number {
    border: 1px solid #ccddff; 
    -webkit-box-shadow: 
      inset 0 0 8px  rgba(0,0,0,0.1),
            0 0 8px rgba(0,0,0,0.1); 
    -moz-box-shadow: 
      inset 0 0 8px  rgba(0,0,0,0.1),
            0 0 8px rgba(0,0,0,0.1); 
    box-shadow: 
      inset 0 0 8px  rgba(0,0,0,0.1),
            0 0 8px rgba(0,0,0,0.1); 
    padding: 5px;
    background: rgba(255,255,255,0.5);
    margin: 0 0 10px 0;
    width:60px;
    border-radius:4px;
    
}
#details .pager{
	padding:20px 0px;
	
}
#network .panel{
	width:950px;
	padding:20px 0px 20px 0px;	
	margin:0px auto 15px auto; 
	border-radius:20px;
}
#network_control_2{
	height:80px;	
}
.big-title{
	padding:5px 15px;
	font-size:22px;
}
#network_control_2 label{
	   margin-top:8px;
}
#network_control_2 #save_photo{
	   margin-left:30px;
}
#network .panel label{
	padding:0px 10px 0px 30px;
}

#phenolyzer{
background: rgb(77,165,242); /* Old browsers */
background: -moz-radial-gradient(center, ellipse cover,  rgba(77,165,242,1) 0%, rgba(46,109,204,1) 100%); /* FF3.6+ */
background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,rgba(77,165,242,1)), color-stop(100%,rgba(46,109,204,1))); /* Chrome,Safari4+ */
background: -webkit-radial-gradient(center, ellipse cover,  rgba(77,165,242,1) 0%,rgba(46,109,204,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-radial-gradient(center, ellipse cover,  rgba(77,165,242,1) 0%,rgba(46,109,204,1) 100%); /* Opera 12+ */
background: -ms-radial-gradient(center, ellipse cover,  rgba(77,165,242,1) 0%,rgba(46,109,204,1) 100%); /* IE10+ */
background: radial-gradient(ellipse at center,  rgba(77,165,242,1) 0%,rgba(46,109,204,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4da5f2', endColorstr='#2e6dcc',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
color:#fafafa;
 }
 
             #cy_container{
             display:block;
             margin:auto;
             height:700px;
             width:900px;
             background-color:#ee99ff;
             padding:0px;
          
             }
             #cy {
            height: 700px;
            width: 950px;
            position: static;
            margin:5px auto;
            border:2px #428bca solid;
            border-radius:20px;
           
                  }
 
 .modal-body h5{
	line-height:1.5;
	color:#020202;
	text-align:left;
}
    #accordion{
             width:950px;
             clear:left;
             float:none;
             margin:auto;
             }
             
             #accordion .ui-accordion-header {  
             color:#1111aa;
             margin: 2px 0px; 
             height:40px;
             text-align:left;
             }  
             #accordion .ui-accordion-header a{  
             decoration:underline;
             }  
              #accordion .ui-accordion-header p{
              display:block;
              float:left;
              margin:0px;
              width:300px;
              text-align:left;
              padding:5px 2px 15px 2px;
              font-size: 13px; 
              }  
              #accordion .ui-accordion-header h3{
               padding:0px;
               margin:0px;
              }  
             #accordion .ui-accordion-header.Predicted{
                color:#6f0055;
background: #ffedf7; /* Old browsers */
background: -moz-linear-gradient(top,  #ffedf7 0%, #ffddf3 50%, #ffd1ed 52%, #ffddf3 79%, #fff2f9 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffedf7), color-stop(50%,#ffddf3), color-stop(52%,#ffd1ed), color-stop(79%,#ffddf3), color-stop(100%,#fff2f9)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #ffedf7 0%,#ffddf3 50%,#ffd1ed 52%,#ffddf3 79%,#fff2f9 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #ffedf7 0%,#ffddf3 50%,#ffd1ed 52%,#ffddf3 79%,#fff2f9 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #ffedf7 0%,#ffddf3 50%,#ffd1ed 52%,#ffddf3 79%,#fff2f9 100%); /* IE10+ */
background: linear-gradient(to bottom,  #ffedf7 0%,#ffddf3 50%,#ffd1ed 52%,#ffddf3 79%,#fff2f9 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffedf7', endColorstr='#fff2f9',GradientType=0 ); /* IE6-9 */

             }
              #accordion .ui-accordion-header.ui-state-active{
               color:#cc7733;
                background-color: #fefefe; /* Old browsers */  
    background-image: -moz-linear-gradient(top, #f0f0ff 0%, #fefefe 100%); /* FF3.6+ */  
    background-image: -webkit-gradient(linear, left top, left bottombottom, color-stop(0%,#f0f0ff), color-stop(100%,#fefefe)); /* Chrome,Safari4+ */  
    background-image: -webkit-linear-gradient(top, #f0f0ff 0%,#fefefe 100%); /* Chrome10+,Safari5.1+ */  
    background-image: -o-linear-gradient(top, #f0f0ff 0%,#fefefe 100%); /* Opera 11.10+ */  
    background-image: -ms-linear-gradient(top,  #f0f0ff 0%,#fefefe 100%); /* IE10+ */  
    background-image: linear-gradient(to bottombottom,  #f0f0ff 0%,#fefefe 100%); /* W3C */  
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f0f0ff', endColorstr='#fefefe',GradientType=0 ); /* IE6-9 */  
              }
              #accordion .ui-accordion-header.Predicted.ui-state-active{
               background-color: #fefefe; /* Old browsers */  
    background-image: -moz-linear-gradient(top, #fff0f0 0%, #fefefe 100%); /* FF3.6+ */  
    background-image: -webkit-gradient(linear, left top, left bottombottom, color-stop(0%,#fff0f0), color-stop(100%,#fefefe)); /* Chrome,Safari4+ */  
    background-image: -webkit-linear-gradient(top, #fff0f0 0%,#fefefe 100%); /* Chrome10+,Safari5.1+ */  
    background-image: -o-linear-gradient(top, #fff0f0 0%,#fefefe 100%); /* Opera 11.10+ */  
    background-image: -ms-linear-gradient(top,  #fff0f0 0%,#fefefe 100%); /* IE10+ */  
    background-image: linear-gradient(to bottombottom,  #fff0f0 0%,#fefefe 100%); /* W3C */  
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fff0f0', endColorstr='#fefefe',GradientType=0 ); /* IE6-9 */            
              }
             #accordion .ui-accordion-content { 
              width:950px;  
              font-size: 12px;    
              }  
               #accordion .ui-accordion-content div{
             width:950px;
             margin:auto;
            
             }
               #accordion .ui-accordion-content p{
             display:block;
             clear:left;
             width:1000px;
             margin:auto;
             color:#3333cc;
              }
               #accordion .ui-accordion-content p.related_interaction{
            color: #cc00aa;
              }
               #accordion .ui-accordion-content p span{
             display:block;
             float:left;
             width:300px;
             padding:5px 10px;
             margin:auto;
             text-align:left;
              }
               #accordion .ui-accordion-content a.Reported{
              display:block;
              text-decoration:underline;
              font-weight:700;
              color: #3333cc;
              margin-top:-5px;
              }
              #accordion .ui-accordion-content a.Predicted{
              color:#991199;
              }
              #accordion .ui-accordion-content span a{
               text-decoration:underline;
              }
               #accordion .ui-accordion-content p.related_disease a{
             color:#3333cc;
              }
              #accordion .ui-accordion-content p.related_interaction a{
              color: #cc00aa;
              }
 
 
              .ui-tooltip{
             padding:5px 10px;   
              margin:0px; 
              max-width:240px;
              font-family: 'Cabin', Helvetica, Arial, sans-serif;
              border:1px solid #b7bbf2;
              color:#331188;
              font-size:13px;
              border-radius:10px;
              list-style-position:inside;
             }            
             .ui-tooltip.label_click{    
              border-radius:14px;
              font-size:13px;
              padding:6px 20px;
              }
             
              .ui-tooltip-content.disease_input{
              line-width:1.3em;
              
              }
               .ui-tooltip.title-tooltip{
              line-width:1.3em;
              max-width:600px;
              padding:20px 10px;
              font-size:15px;
              }
  div.weaker{
			    opacity:0.05;
			}            
   .navbar-default {
	background-color: #2492ff;
	border-color: #fafaf1;
}
.navbar-default .navbar-brand {
	color: #ecf0f1;
}
.navbar-default .navbar-brand:hover, .navbar-default .navbar-brand:focus {
	color: #c49c62;
	background-color: #fafaf1;
}
.navbar-default .navbar-text {
	color: #ecf0f1;
}
.navbar-default .navbar-nav > li > a {
	color: #ecf0f1;
}
.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
	color: #c49c62;
	background-color: #fafaf1;
}
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
	color: #c49c62;
	background-color: #fafaf1;
}
.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
	color: #c49c62;
	background-color: #fafaf1;
}
.navbar-default .navbar-toggle {
	border-color: #fafaf1;
}
.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
	background-color: #fafaf1;
}
.navbar-default .navbar-toggle .icon-bar {
	background-color: #ecf0f1;
}
.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
	border-color: #ecf0f1;
}
.navbar-default .navbar-link {
	color: #ecf0f1;
}
.navbar-default .navbar-link:hover {
	color: #c49c62;
}

@media (max-width: 767px) {
	.navbar-default .navbar-nav .open .dropdown-menu > li > a {
		color: #ecf0f1;
	}
	.navbar-default .navbar-nav .open .dropdown-menu > li > a:hover, .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
		color: #c49c62;
	}
	.navbar-default .navbar-nav .open .dropdown-menu > .active > a, .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover, .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
		color: #c49c62;
		background-color: #fafaf1;
	}
}           
     .ui-dialog-titlebar-close {
              visibility: hidden;
              }
               .ui-dialog
              {
                 position: fixed;
              }
              #dialog{
                 font-size:10px;
                 font-family:arial;
                 background:#FFFFFF
              }
              #loader{
                margin:10px 160px;
                width:100px;
                height:100px;
              }       
  .ui-autocomplete{
	         color:#3333cc;
             font-size:14px;
             width:300px;
             max-height:30em;
             overflow:auto;
 }            
 li.list-group-item{
   line-height:190%;
 }
 li.list-group-item span{
  margin-right:10px;
 }
 
 
 